APP_NAME="Sistema Gestão Documentos Demo"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/app_gestao_demo/public/

CRYPTO_KEY=coloque_uma_chave_base64_aqui
METHOD=AES-256-GCM

DB_HOST=localhost
DB_NAME=app_gestao_demo
DB_USER=root
DB_PASSWORD=

APP_LOGIN_EMAIL=admin@demo.com
APP_LOGIN_PASSWORD=troque_essa_senha
APP_LOGIN_NAME="Usuário Demo"
